html, body {
   padding: 0%;
   margin: 0%;
}

* {
    box-sizing:border-box;
    height: 100%;
}
#sliderNr1{
    position: relative;
    background: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
}
.sliderOne-container{
    overflow: hidden;
}
#mainSlides{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    border: 2px solid tomato;
    border-radius: 10px;
    width: 1200px;
    height: 80%;
    margin: auto;
    box-shadow: -3px 1px 48px 26px rgba(66, 68, 90, 1);
}
.sliderOne-images{
    display: flex;
    flex-direction: row;
    transform: translate3d(0,0,0);
    transition: 1500ms;
   }
img{
   width: 1200px;
   height: 700px;
}
#sliderNr2{
    position: relative;
background-color: #0093E9;
background-image: linear-gradient(270deg, #0093E9 0%, #80D0C7 100%);
}
.sliderTwo-container{
overflow: hidden;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
border-radius: 10px;
width: 1200px;
height: 80%;
margin: auto;
box-shadow: -3px 1px 48px 26px rgba(66, 68, 90, 1);
}
.sliderTwo-images{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



